# Unigram
#字
U00:%x[-2,0]
U01:%x[-1,0]
U02:%x[0,0]
U03:%x[1,0]
U04:%x[2,0]
U05:%x[-2,0]/%x[-1,0]
U06:%x[-1,0]/%x[0,0]
U07:%x[0,0]/%x[1,0]
U08:%x[1,0]/%x[2,0]
U09:%x[-1,0]/%x[1,0]
#词位 B，B1，B2，M，E，S
U10:%x[-2,1]
U11:%x[-1,1]
U12:%x[0,1]
U13:%x[1,1]
U14:%x[2,1]
#类型
#1-后缀词：省，市，县，州，郡，区，乡，镇，村，庄，城，屯，苑，街，路，里，口，道，巷，弄 ，楼，馆，寺，宫，府，园，门，桥，山，岗，峰，河，江，湖，海
#2-方位词：东，南，西，北，中，内，外
#3-中文数字词：一，二，三...九，十
#4-阿拉伯数字词: [0-9]+
#5-其他
U15:%x[-2,2]
U16:%x[-1,2]
U17:%x[0,2]
U18:%x[1,2]
U19:%x[2,2]
# Bigram
B
